.tabbrowser-tab {
  font-size: 12px !important;
  font-family: var(--font-family) !important;
}
.tabbrowser-tab[first-visible-tab] {
  margin-left: 8px !important;
}

.tab-background {
  margin-block: 2px !important;
  transition: background-color 0.3s var(--ease-basic) !important;
}

.titlebar-spacer[type="pre-tabs"] {
  border: 0 !important;
  opacity: 0 !important;
  width: 0 !important;
}

