@font-face {
  font-family: Jost;
  src: url(./fonts/Jost.ttf);
}

:root {
  --font-family: Jost;
  --menu-item-padding: 4px;
  --border-radius: 4px;
}

#navigator-toolbox {
  border: 0 !important;
}
